[submodule "laser_geometry"]
	path = laser_geometry
	url = https://github.com/ozangungortuhh/laser_geometry.git
[submodule "turtlebot3"]
	path = turtlebot3
	url = https://github.com/ozangungortuhh/turtlebot3.git
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ozangungortuhh/turtlebot3_simulations.git
[submodule "turtlebot3_msgs"]
	path = turtlebot3_msgs
	url = https://github.com/ozangungortuhh/turtlebot3_msgs.git
